[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
tuna = "*"
Sphinx="*"
sphinx_rtd_theme="*"
sphinx-autodoc-typehints="*"
autopep8 = "*"

[packages]
wxpython = ">=4.1.1"
numpy = "<1.19.4"
scipy = "*"
sortedcontainers = "*"
marshmallow = "*"
commentjson = "*"
networkx = "*"
pillow = "*"

[requires]
python_version = "3.8"
