[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
tuna = "*"
Sphinx="*"
sphinx_rtd_theme="*"
sphinx-autodoc-typehints="*"
autopep8 = "*"

[packages]
wxpython = "==4.1.0"
numpy = "*"
scipy = "*"
sortedcontainers = "*"
marshmallow = "*"
commentjson = "*"

[requires]
python_version = "3.8"
